{% extends 'base.html.twig' %}
{% block title %}Sign system{% endblock %}
{% block body %}
{# ERRORS #}
{% if error %}
    <div class="alert alert-danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
{# CURRENT USER #}
<div class="border p-3 bg-light text-center">
  <div class="pb-5 px-3">
    <p class="lead">Current connected user:
    {% if app.user %}
      <span class="font-italic">{{ app.user.username }}</span>
    {% endif %}
    </p>
    <span class="font-italic text-secondary">(just for debugging)</span>
  </div>
  {# CHOOSE FORM #}
  <div class="pt-0 pb-3 px-3">
    <button id="signTab" class="btn btn-md bg-primary text-white" type="button">Show Sign Up</button>
  </div>
  <!-- SIGN IN -->
  <form id="sign_in_form" method="POST" enctype="multipart/form-data" onsubmit="submitForm(this, signInResponse); return false;">
    <div class="form-group">
      <input class="form-control" type="text" name="username" placeholder="username" value="{{ last_username }}" required autofocus>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="password" required>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="form-group">
      <button class="btn btn-md bg-dark text-white" type="submit" name="sign-in">Submit</button>
    </div>
  </form>
  <!-- SIGN UP -->
  <form id="sign_up_form" class="d-none" method="POST" enctype="multipart/form-data" onsubmit="submitForm(this, signUpResponse); return false;">
    <div class="form-group">
      <input class="form-control" type="text" name="username" placeholder="username" value="{{ last_username }}" required autofocus>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="folder-name" placeholder="folder name" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="password" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="confirm-password" placeholder="confirm password" required>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="form-group">
      <button class="btn btn-md bg-dark text-white" type="submit" name="sign-up">Submit</button>
    </div>
  </form>
</div>
{% endblock %}

{#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
#}
